<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWb9hCChLS9P16K5vOu616Z0BrXH5ZPV8</string>
	<key>GCM_SENDER_ID</key>
	<string>743092267589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentProfile</string>
	<key>PROJECT_ID</key>
	<string>studenthub-40801</string>
	<key>STORAGE_BUCKET</key>
	<string>studenthub-40801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743092267589:ios:6376f5b953561772c6d12c</string>
	<key>DATABASE_URL</key>
	<string>https://studenthub-40801-default-rtdb.firebaseio.com</string>
</dict>
</plist>